.titleBlock {
  text-align: center;

  h3 {
    color: rgb(29, 29, 26);
    font-size: 34px;
    font-weight: 700;
    line-height: 120%;
  }

  p {
    color: rgb(29, 29, 26);
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;

    a {
      color: rgb(79, 104, 255);
      text-decoration: none;
      font-weight: 500;
    }
  }
}

.form {
  .paper {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid;

    .btnSignUp {
      width: 60%;
      margin: 0 auto;
    }

    .errorText {
      color: red;
      text-align: center;
    }

    .btnShowPassword {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
}

.loadingContainer {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

@media only screen and (max-width: 768px) {
  .titleBlock {
    h3 {
      font-size: 24px;
    }
  }

  .form {
    .paper {
      width: 100%;

      .btnSignUp {
        width: 100%;
      }
    }
  }
}