.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  .title {
    color: rgb(29, 29, 26);
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;

    @media only screen and (max-width: 768px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .button {
    line-height: 17px;
    border: 0;
    border-bottom: 1px solid #4f68ff;
    background: none;
    cursor: pointer;

    a {
      text-decoration: none;
      color: rgb(79, 104, 255);
      font-size: 14px;
      font-weight: 500;
    }

    @media only screen and (max-width: 768px) {
      font-size: 12px;
      line-height: 15px;
    }
  }
}

.emptyMessage {
  text-align: center;
  margin-bottom: 40px;
} 
