.titleBlock {
  text-align: center;

  h3 {
    color: rgb(29, 29, 26);
    font-size: 34px;
    font-weight: 700;
    line-height: 120%;
  }

  p {
    color: rgb(29, 29, 26);
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;

    a {
      color: rgb(79, 104, 255);
      text-decoration: none;
      font-weight: 500;
    }
  }
}

.form {
  .paper {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid;

    .error {
      color: red;
      text-align: center;
    }

    .btnSignUp {
      width: 60%;
      margin: 0 auto;
    }
  }

  .smallForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    .checkboxContainer {
      display: flex;
      gap: 10px;
      align-items: center;

      .checkboxLabel {
        white-space: nowrap;
      }
    }

    .select {
      width: 100%;
      height: 46px;
      border-radius: 14px;
    }

    .select:focus {
      outline: none;
    }
  }
}

.loadingContainer {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

@media only screen and (max-width: 768px) {
  .form {
    .paper {
      width: 100%;

      .btnSignUp {
        width: 100%;
      }
    }
  }

  .titleBlock {
    h3 {
      font-size: 24px;
    }
  }
}