.addNews {
    display: flex;
    flex-direction: column;
    gap: 40px;
    .input {
        height: 45px;
        background: rgba(245, 245, 245, 1);
        border: none;
        outline: none;
        border-radius: 14px;
        width: 400px;
        padding: 0 16px;
        font-size: 14px;
        ::placeholder{
          color: rgba(119, 119, 118, 1);
        }
      }
      textarea {
        background: rgba(245, 245, 245, 1);
        border: none;
        outline: none;
        border-radius: 14px;
        padding: 16px;
        height: 243px;
        width: 576px;
        font-size: 14px;
        ::placeholder{
          color: rgba(119, 119, 118, 1);
        } 
    }
    input[type="file"] {
        height:250px;
        text-align: center;
        width: 20%;
        border-radius: 0;
        padding: 20px;
    }
    .btn {
        width: 10%;
    }
}