.addProduct {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;

  .characteristick {
    .block {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 450px;

    .input {
      height: 45px;
      border: none;
      width: 100%;
      background: rgba(245, 245, 245, 1);
      outline: none;
      border-radius: 14px;
      padding: 0 16px;
      font-size: 14px;

      ::placeholder {
        color: rgba(119, 119, 118, 1);
      }
    }

    .select {
      height: 45px;
      border: none;
      box-shadow: none;
      outline: none;
      background: rgba(245, 245, 245, 1);
      border-radius: 14px;
      padding: 0 16px;
      font-size: 14px;
    }

    textarea {
      background: rgba(245, 245, 245, 1);
      border: none;
      outline: none;
      border-radius: 14px;
      padding: 16px;
      height: 125px;
      font-size: 14px;

      ::placeholder {
        color: rgba(119, 119, 118, 1);
      }
    }

    .label {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .btn {
      display: inline;
      width: 30%;
    }

    input[type="file"] {
      height: 60px;
      text-align: center;
      padding: 10px;
      width: 100%;
    }

    .showshareInput {
      width: 100%;
      display: none;
    }

    .addShare {
      color: blue;
      cursor: pointer;
    }

    .show {
      display: flex;
      width: 100%;
    }
  }
}

.successModal {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.error {
  font-size: 14px;
  color: rgb(240, 85, 85);
  margin-bottom: -30px;
}